.container {
	width: calc(100wv - 18px);
	margin: 0 auto;
	height: 100vh;
}

label {
	position: relative;

	display: flex;
	flex-direction: column;
	margin: 0.7em;
	min-height: 1.7em;

	font-size: 1em;
	font-weight: bold;
	color: #0000ee;
	border-top: 1px solid gray;

	transition: color 1s cubic-bezier(0.4, 0, 0.2, 1);
}

input:checked + p {
	color: #212121;
}

label:focus > svg {
	transform: rotate(315deg);
	opacity: 1;
}
label:focus > img,
input:checked ~ img {
	height: auto;
	margin: 0 auto;

	display: block;
	transform: scale(1);
}

input:checked ~ svg {
	transform: rotate(315deg);
	fill: red;
	opacity: 1;
}

label:active {
	cursor: cell;
}
label:active p,
label:active svg {
	color: #3da30e;
}

input {
	position: absolute;
	appearance: none;
}

svg {
	position: absolute;
	top: 1em;
	right: 0.2em;

	width: 1em;
	height: 1em;

	opacity: 0;
	fill: currentColor;

	transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1),
		fill 1s cubic-bezier(0.4, 0, 0.2, 1),
		opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
}
svg > path {
	width: 100%;
	height: 100%;
}

img {
	width: 80%;
	max-width: 320px;
	height: 0;
	transform: scale(0);

	transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
	transform-origin: top center;
}

@media (min-width: 568px) {
	.container {
		width: 80%;
	}

	label {
		font-size: 1.3em;
	}

	svg {
		width: 1.35em;
		height: 1.35em;
	}
}

@media (min-width: 1180px) {
	.container {
		max-width: 1180px;
	}

	label {
		font-size: 1.5em;
	}

	svg {
		width: 1.35em;
		height: 1.35em;
	}
}

@media (hover: hover) {
	.container:hover label {
		color: #212121;
	}
	.container:hover svg {
		opacity: 1;
	}

	label {
		cursor: pointer;
	}

	label:hover > svg {
		transform: rotate(315deg);
		opacity: 1;
	}
	label:hover > img {
		height: auto;
		margin: 0 auto;

		display: block;
		transform: scale(1);
	}
}
